@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Raleway";
  src: url("./src/assets/fonts/Raleway.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("./src/assets/fonts/Raleway-Italic.ttf");
  font-style: italic;
}

html {
  @apply text-black bg-gray text-base font-raleway;
}

html, body, #root {
  @apply w-full h-full;
}
